version: '3.8'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=cadastro
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data
#      - ./db/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
#      - ./db/fill_tables.sql:/docker-entrypoint-initdb.d/fill_tables.sql
volumes:
  db:
    driver: local
